{% extends "main.html" %}
{% block title %}SOE{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/mods/soe/css/main.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☀️</text></svg>">
    {% block head_soe %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% include "/mods/soe/src/shortcut.html" %}
    <div class="body_soe">
        {% block body_soe %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% block footer_soe %}
        {% include "/mods/soe/src/footer.html" %}
    {% endblock %}
{% endblock %}