<div style="display: flex;justify-content: space-around;width: 100%;">
    <div>
        <a href="https://www.emeraude-solaire.com" style="display: block;"><img alt="emeraude-solaire" src="/static/mods/soe/img/Logo_EmeraudeSolaire_blanc.png" style="height: 48px;"></a>
    </div>
    <div>
        <a href="https://dropnplug.fr/" style="display: block;"><img alt="dropnplug" src="/static/mods/soe/img/dropnplug_blanc.png" style="height: 24px;margin: 10px;"></a>
    </div>
</div>
<div style="display: flex;justify-content: space-around;width: 100%;">
<a href="https://dropnplug.fr/contact" style="color: white; font: optional;font-size: 12px;opacity: 0.5;">Une création dropnplug</a>
</div>