{% extends "main.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
    <title>Panneau de configuration</title>
{% endblock %}

{% block body %}
    <div id="notif">truc</div>
    <h1>Panneau de configuration</h1>
    <div class="infoDevice"></div>
    <hr>
    <div class="tab"></div>
    <i style="padding-left: 0.5em; opacity: 0.8;"><span style="color: red;">*</span> : valeur obligatoire selon la norme Sunspec.</i>
{% endblock %}