body {
    font-family: Arial, Geneva, Tahoma, sans-serif;
}

:root{
    --bgDetails: #38bb98;
    --bgPointEven: #38bb9831;
    --bgPointOdd: #38bb9861;
    --txtClair: rgb(255, 255, 255);
    --txtSombre: rgb(0, 0, 0);
}


@keyframes notif {
    from {
        /* transform: translateY(2em); */
    }
    
    to {
        display: block;
        top: 5em;
    }
}

#notif {
    animation: notif 150ms ease-in-out;
    position: sticky;
    top: -2em;
    right: 50%;
    left: 50%;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 17, 112);
    display: none;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: transparent;
    z-index: 1;
    display: none;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--bgDetails) transparent var(--bgDetails) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}