<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mods/sunspec_debug_pannel/css/main.css">
    <script type="text/javascript" src="/static/mods/sunspec_debug_pannel/js/main.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="loader-container">
        <div class="spinner"></div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>