{% extends "/mods/soe/main.html" %}

{% block title %}Rapport{% endblock %}

{% block head_soe %}
    <script type="text/javascript" src="/static/mods/soe/libs/Chart/Chart.js"></script>
    <script type="text/javascript" src="/static/mods/soe/pages/js/rapport/rapport.js"></script>
    <link rel="stylesheet" href="/static/mods/soe/pages/css/rapport/rapport.css">
{% endblock %}

{% block body_soe %}
{% with nomPage="Graphique / Rapport" %}
    {% include "/mods/soe/src/title.html" %}
{% endwith %}
<!-- {% include "/mods/soe/src/title.html" %} -->
<main>
    <div class="multGrapgique">
        <div class="inputs">
            <label for="dateDebut">Date de début</label>
            <input onchange="requestDataMultiChart(event)" type="date" name="dateDebut" id="inputDateDebut">
            <label for="dateDebut">Date de fin</label>
            <input onchange="requestDataMultiChart(event)" type="date" name="dateFin" id="inputDateFin">
            <label for="pas">Pas</label>
            <select onchange="requestDataMultiChart(event)" name="pas" id="pas">
                <option value="heure">Heure</option>
                <option value="jour">Jour</option>
                <option value="mois">Mois</option>
                <option value="annee">Année</option>
            </select>
            <script>
                let now = new Date()
                now.setHours(0, 0, 0, 0)
                let nowMoinsUnMois = new Date()
                nowMoinsUnMois.setMonth(nowMoinsUnMois.getMonth() - 1)
                nowMoinsUnMois.setHours(0, 0, 0, 0)
                now.setDate(now.getDate()+1)
                nowMoinsUnMois.setDate(nowMoinsUnMois.getDate()+1)

                if (!document.getElementById("inputDateDebut").valueAsDate) {
                    document.getElementById("inputDateDebut").valueAsDate = nowMoinsUnMois
                }
                if (!document.getElementById("inputDateFin").valueAsDate) {
                    document.getElementById("inputDateFin").valueAsDate = now
                }

                requestDataMultiChart(premiereFois=true)
            </script>
        </div>
        <span class="chartEtInputs">
            <span class="inputsData">
            </span>
            <span class="multiChart">
                <canvas id="canvasMultiChart"></canvas>
            </span>
        </span>
    </div>
</main>
{% endblock %}