@keyframes details-expand {
    from {
        opacity:0;
        transform: var(--details-translate, translateY(-0.5em));
    }
}

details[open] > *:not(summary) {
    animation: details-expand 150ms ease-in-out;
}

details[open] {
    border-color: var(--bgDetails);
    transition: all 150ms ease;
}

details[open] > summary {
    background-color: var(--bgDetails);
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

details[open] > summary:hover {
    background-color: var(--bgDetails);
}

details {
    border-width: 2px;
    border-color: var(--bgDetails);
    border-style: solid;
    border-radius: 10px;
}

summary {
    background-color: var(--bgDetails);
    color: var(--txtClair);
    padding: 0.8em;
    cursor: pointer;
    border-radius: 7px;
}

summary:hover {
    background-color: var(--bgDetails);
}

.point:not(.group) {
    margin: 0;
    padding-left: 3.7em;
}

.point {
    padding: 0.5em;
}

.group {
    padding-left: 3.7em;
}

.point:nth-child(even) {
    background-color: var(--bgPointEven);
}

.point:nth-child(odd) {
    background-color: var(--bgPointOdd);
}

.point:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.model summary {
    margin: 0.2em;
    font-weight: bold;
    color: var(--txtSombre);

}

.model {
    margin: 0.2em;
}

input {
    margin-right: 0.2em;
}


@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notifMaj{
    animation: fadeInAndOut;
    animation-duration: 10010ms;
    margin-left: 1em;
}

.description {
    color: #414141;
}

.value { 
    font-weight: bold;
    font-size: medium;
}