section {
    display: flex;
}

article {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartPuissance {
    max-height: 15em;
}

h1 {
    margin-bottom: 1em;
}