{% extends "/mods/soe/main.html" %}

{% block title %}Dashboard{% endblock %}

{% block head_soe %}
    <script type="text/javascript" src="/static/mods/soe/pages/js/dashboard/dashboard.js"></script>
    <link rel="stylesheet" href="/static/mods/soe/pages/css/dashboard/dashboard.css">
{% endblock %}

{% block body_soe %}
<h1>Dashboard : Devanture Drop'n Plug</h1>
<section>
    <article>
        <h3>
            Puissance DC
        </h3>
    </article>
    <article>
        <h3>
            Puissance AC
        </h3>
    </article>
</section>
{% endblock %}