{% extends "/mods/soe/main.html" %}

{% block title %}Dashboard{% endblock %}

{% block head_soe %}
    <script type="text/javascript" src="/static/mods/soe/pages/js/dashboard/dashboard.js"></script>
    <link rel="stylesheet" href="/static/mods/soe/pages/css/dashboard/dashboard.css">

    <script type="text/javascript" src="/static/mods/soe/libs/Chart/Chart.js"></script>

{% endblock %}

{% block body_soe %}
<h1>Dashboard : Devanture Drop'n Plug</h1>
<main>
    <section class="etatTempsReel">
        <h3>
            État des Ondueleurs
        </h3>
        <table id="tableauEtatOnduleurs">
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tr>
                <th>Nom</th>
                <th>Slave ID</th>
                <th>État</th>
            </tr>
        </table> 
    </section>
    <section class="donneProduction">
        <section class="prodTempsReel">
            <article>
                <h3>
                    Puissance DC
                </h3>
                <h3 id="puissanceDC"></h3>
                <span class="chartPuissance">
                    <canvas id="canvasPuissanceDC"></canvas>
                </span>
            </article>
            <article>
                <h3>
                    Puissance AC
                </h3>
                <h3 id="puissanceAC"></h3>
                <span class="chartPuissance">
                    <canvas id="canvasPuissanceAC"></canvas>
                </span>
            </article>
        </section>
    
        <section class="hitorique">
                <h3>
                    Historique de production total par mois (AC kW)
                </h3>
                <article>
                    <label for="inputHistoMois">Mois</label>
                    <select onchange="requestHistoAC()" name="inputHistoMois" id="inputHistoMois">
                    </select>
                    <label for="inputHistoAnnee">Année</label>
                    <select onchange="requestHistoAC()" name="inputHistoAnnee" id="inputHistoAnnee">
                    </select>
                </article>
                <script>
                    let inputHistoAnnee = document.getElementById("inputHistoAnnee")
                    let inputHistoMois = document.getElementById("inputHistoMois")
                    let now = new Date()
                    let moisActu = now.getMonth()
                    for (mois in listeMois) {
                        let opt = document.createElement("option")
                        opt.value = listeMois[mois]
                        opt.innerText = listeMois[mois]
                        inputHistoMois.appendChild(opt)
                        if (listeMois[mois] == listeMois[moisActu]) {
                            inputHistoMois.value = listeMois[moisActu]
                        }
                    }
    
                    for (let i = anneMinHisto; i <= now.getFullYear(); i++) {
                        let opt = document.createElement("option")
                        opt.value = i
                        opt.innerText = i
                        inputHistoAnnee.appendChild(opt)
                    }
                    inputHistoAnnee.value = now.getFullYear();
    
                    requestHistoAC()
                </script>
    
                <span class="chartHistorique">
                    <canvas id="canvasHistoriqueAC"></canvas>
                </span>
        </section>
    </section>
</main>
{% endblock %}