{% extends "/mods/soe/main.html" %}

{% block title %}Dashboard{% endblock %}

{% block head_soe %}
    <script type="text/javascript" src="/static/mods/soe/pages/js/dashboard/dashboard.js"></script>
    <link rel="stylesheet" href="/static/mods/soe/pages/css/dashboard/dashboard.css">

    <script type="text/javascript" src="/static/mods/soe/libs/Chart/Chart.js"></script>

{% endblock %}

{% block body_soe %}
<div style="display: flex;">
    <div style="font-size: larger; position: absolute; width: fit-content; background-color: rgba(255, 2, 2, 0.5); border-radius: 10px;">🚧 En developpement 🚧</div>
    <h1 style="margin: 0.5em;">Dashboard : centrale solaire photovoltaïque</h1>
</div>
<main>
    <section class="etatTempsReel">
        <h3>
            État des Onduleurs
        </h3>
        <ol id="listeEtatOnduleurs" style="--length: 2" role="list">
        </ol>
    </section>
    <section class="donneProduction">
        <section class="prodTempsReel">
            <article>
                <h3>
                    Puissance DC
                </h3>
                <h3 id="puissanceDC"></h3>
                <span class="chartPuissance">
                    <canvas id="canvasPuissanceDC"></canvas>
                </span>
            </article>
            <article>
                <h3>
                    Puissance AC
                </h3>
                <h3 id="puissanceAC"></h3>
                <span class="chartPuissance">
                    <canvas id="canvasPuissanceAC"></canvas>
                </span>
            </article>
            <article>
                <h3>
                    Puissance réactive
                </h3>
                <h3 id="puissanceReac"></h3>
                <span class="chartPuissance">
                    <canvas id="canvasPuissanceReac"></canvas>
                </span>
            </article>
        </section>
    
        <section class="hitorique">
                <h3>
                    Historique de production totale par jours (kWh)
                </h3>
                <article>
                    <label for="inputHistoMois">Mois</label>
                    <select onchange="requestHistoAC()" name="inputHistoMois" id="inputHistoMois">
                    </select>
                    <label for="inputHistoAnnee">Année</label>
                    <select onchange="requestHistoAC()" name="inputHistoAnnee" id="inputHistoAnnee">
                    </select>
                </article>
                <script>
                    let inputHistoAnnee = document.getElementById("inputHistoAnnee")
                    let inputHistoMois = document.getElementById("inputHistoMois")
                    let now = new Date()
                    let moisActu = now.getMonth()
                    for (mois in listeMois) {
                        let opt = document.createElement("option")
                        opt.value = listeMois[mois]
                        opt.innerText = listeMois[mois]
                        inputHistoMois.appendChild(opt)
                        if (listeMois[mois] == listeMois[moisActu]) {
                            inputHistoMois.value = listeMois[moisActu]
                        }
                    }
    
                    for (let i = anneMinHisto; i <= now.getFullYear(); i++) {
                        let opt = document.createElement("option")
                        opt.value = i
                        opt.innerText = i
                        inputHistoAnnee.appendChild(opt)
                    }
                    inputHistoAnnee.value = now.getFullYear();
    
                    requestHistoAC()
                </script>
    
                <span class="chartHistorique">
                    <canvas id="canvasHistoriqueEnergie"></canvas>
                </span>
        </section>
    </section>
</main>
{% endblock %}